<div id="aypex-header">
  <header id="header" class="d-flex align-items-center header-aypex border-bottom">
    <div class="container" role="navigation" aria-label="<%= I18n.t('aypex.storefront.checkout_page.main_navigation') %>">
      <div class="row">

        <div class="col d-flex align-items-center truncate pe-0">
          <%= link_to aypex.cart_path, class: "text-uppercase truncate checkout-header-link-text", method: :get do %>
            <%= aypex_storefront_svg_tag('arrow-right.svg',
                     class: 'aypex-icon-arrow aypex-icon-arrow-left',
                     width: 14,
                     height: 14) %>
            <%= I18n.t('aypex.storefront.checkout_page.back_to_cart') %>
          <% end %>
        </div>

        <div class="col-auto d-flex align-items-center justify-content-end justify-content-md-center">
          <figure class="logo header-aypex-fluid-logo m-0 p-0">
            <%= logo(nil, {method: :get}) %>
          </figure>
        </div>

        <div class="col-0 col-md">
          <!-- spacer -->
        </div>

      </div>
    </div>
  </header>
</div>
