<div class="mx-auto delete-address-popup">
  <div class="d-flex delete-address-popup-icon js-delete-address-popup-close-button">
    <%= aypex_storefront_svg_tag "close.svg", class: "w-100 h-100" %>
  </div>

  <p class="delete-address-popup-header">
    <%= I18n.t("aypex.storefront.address_action_popup.delete_title") %>
  </p>

  <p class='delete-address-popup-text'>
    <%= I18n.t("aypex.storefront.address_action_popup.delete_text").html_safe %>
  </p>

  <div class="d-flex delete-address-popup-buttons">
    <div class="btn bg-light-background text-primary border-2 border-primary text-uppercase font-weight-bold delete-address-popup-button js-delete-address-popup-close-button"><%= I18n.t('aypex.storefront.cancel') %></div>
    <a
      id="delete-address-popup-confirm"
      class="btn btn-primary text-uppercase font-weight-bold delete-address-popup-button"
      data-method="delete"
      rel="nofollow"
      href="#">
      <%= I18n.t("aypex.storefront.address_action_popup.delete_button") %>
    </a>
  </div>
</div>
