<div class="col-lg-11 mx-auto">
  <h3 class="aypex-mb-large aypex-mt-large aypex-header"><%= Aypex.t(:log_in_to_continue) %></h3>
  <%= form_for Aypex.user_class.new, as: :aypex_user, url: aypex_login_path, data: { turbo: false } do |f| %>
    <div id="password-credentials" class="mb-4">
      <div class="form-group mb-4">
        <p class="form-group checkout-content-inner-field">
          <%= f.email_field :email, class: 'aypex-flat-input', placeholder: Aypex.t(:email), value: params.dig(:aypex_user, :email) %>
        </p>
      </div>
      <div class="form-group mb-4">
        <p class="form-group checkout-content-inner-field">
          <%= f.password_field :password, class: 'aypex-flat-input', placeholder: Aypex.t(:password) %>
        </p>
      </div>
    </div>

    <% if Aypex::Frontend::Config[:remember_me_enabled] %>
      <div class="aypex-checkbox-container mt-4 mt-sm-5 mt-lg-4 aypex-mb-medium">
        <div class="aypex-checkbox">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, '' %>
        </div>

        <%= f.label :remember_me, Aypex.t(:remember_me), class: 'aypex-checkbox-label' %>
      </div>
    <% end %>

    <%= f.submit Aypex.t(:login), class: 'btn btn-primary btn-block aypex-btn mt-2' %>
  <% end %>

  <% if aypex.respond_to?(:recover_password_path) %>
    <div class="text-center forgot-password mb-4">
      <%= link_to Aypex.t(:forgot_password), aypex.recover_password_path %>
    </div>
  <% end %>
</div>
