<div class="col-lg-6 offset-lg-3 mb-5">
  <%= render partial: 'aypex/shared/error_messages', locals: { target: @user } %>

  <h3 class="aypex-mb-large aypex-mt-large aypex-header"><%= I18n.t('aypex.storefront.editing_user') %></h3>

  <%= form_with model: @user, scope: :user, url: aypex.account_path, method: :patch do |f| %>
    <%= f.text_field :first_name %>
    <%= f.text_field :last_name %>
    <%= f.text_field :selected_locale %>

    <%= f.submit I18n.t('aypex.storefront.update'), class: 'btn btn-primary btn-block spree-btn mt-2' %>
  <% end %>
</div>
