<div class='order-show container d-flex flex-column align-items-center flex-lg-wrap flex-lg-row justify-content-center' id="order_summary" data-hook>
  <% if order_just_completed?(@order) %>
    <%= aypex_storefront_svg_tag('check-mark-circle.svg',
             class: 'd-block d-lg-none mx-auto order-show-check-mark',
             width: 56,
             height: 56) %>
    <%= aypex_storefront_svg_tag('check-mark-circle.svg',
             class: 'd-none d-lg-block mx-auto order-show-check-mark',
             width: 102,
             height: 102) %>
    <h5 class="w-100 text-center"><%= Aypex.t(:order_success) %></h5>
    <p class="order-show-explain w-100 text-center"><%= Aypex.t(:order_success_explain) %></p>
  <% end %>

  <p class="order-show-number text-uppercase w-100 text-center">
    <%= accurate_title %> / <%= pretty_date(@order.completed_at) %>
  </p>
  <%= render partial: 'aypex/shared/order_details', locals: { order: @order } %>
</div>
