<%= render 'aypex/shared/error_messages', target: @address %>
<div class="col-lg-6 offset-lg-3">
  <h3 class="aypex-header aypex-mb-large aypex-mt-large"><%= Aypex.t(:edit_address, scope: :address_book) %></h3>
  <%= form_for @address, html: { id: 'checkout_form_address' } do |f| %>
  <div class="form-group checkout-content-inner-field mb-5 has-float-label">
    <%= f.text_field :label, class: 'aypex-flat-input', placeholder: Aypex.t(:address_name_placeholder, scope: :address_book) %>
    <%= f.label :address_name, Aypex.t(:label, scope: :address_book) %>
  </div>

  <%= render 'aypex/addresses/form',
    address_name: 'address',
    address_form: f,
    address_type: 'shipping',
    address: @address %>

  <%= f.submit Aypex.t(:update), class: 'btn btn-primary btn-block aypex-btn mb-5' %>
  <% end %>
</div>
