<% content_for :modal_header do %>
  <h5 class="modal-title"><%= I18n.t('aypex.storefront.added_to_cart') %></h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
<% end %>

<% content_for :modal_body do %>
  <div class="row">
    <div class="col-4">
      <div class="product-image-container img-zoom-1-3 rounded border">
        <%#= variant_image(@variant, size: "500x500", pre_loaded_images: @product_images) %>
      </div>
    </div>

    <div class="col-8">
      <h2><%= @variant.product.name %></h2>
      <strong><%= @variant.display_amount.to_html %></strong>

      <% if @variant.option_values.any? %>
        <div class="list-unstyled text-muted d-grid"
             data-hook="line_item_description"
             style="grid-template-columns: auto 1fr; gap: .5rem;">
          <div>
            <% @variant.option_values.each do |ov| %>
              <strong><%= "#{ov.option_type.presentation}:" %></strong><br>
            <% end %>
          </div>

          <div>
            <% @variant.option_values.each do |ov| %>
              <%= "#{ov.name.titleize}" %><br>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<% content_for :modal_footer do %>
  <div class="row">
    <div class="col-6">
      <%= link_to I18n.t('aypex.storefront.pdp.view_cart'), aypex.cart_path, class: 'btn btn-outline-primary w-100 font-weight-bold text-uppercase product-added-modal-button' %>
    </div>

    <div class="col-6">
      <%= link_to I18n.t('aypex.storefront.checkout'), aypex.checkout_root_path, class: 'btn btn-primary w-100 font-weight-bold text-uppercase product-added-modal-button' %>
    </div>
  </div>
<% end %>

<%= render partial: 'aypex/shared/modal', locals: { modal_dialog_settings: 'modal-dialog-scrollable modal-dialog modal-dialog-centered modal-lg' } %>
